@import './breakpoint.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
}

.wrapper-text{
    display: flex;
    justify-content: space-between;
    // max-width: 1360px;
    max-width: 1440px;
    padding: 0 40px;
    margin: auto;

    @include mobile {
        flex-direction: column;
    }
}

.title{
    font-size: 64px;
    line-height: 110%;
    font-weight: 600;
}

.desc{
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #000000;
}