@import './breakpoint.scss';

.wrapper-text {
    .title{
        color: #111311;
        max-width: 481px;

        span {
            color: #FFC500;
        }

        @include tablet {
            font-size: 50px;
        }
        @include mobile {
            margin-bottom: 50px;
            font-size: 44px;
        }
    }
    
    .desc{
        width: 427px;
        @include tablet {
            width: 230px;
        }
    
        @include mobile {
            width: 100%;
        }
    }
}